@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: aliceblue;
}
.container{
    width: 100vw;
    height: auto;
    margin: auto;
    position: relative;
    background-color: rgb(99, 99, 99);
    white-space: nowrap;
}
header{
    width: 100%;
    height: 120px;
    top: 0; left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    text-align: center;
    align-items: center;
    z-index: 100;
    background-color: #284C7E;
}
.logo{
    background-image: url('../img/help_pet.png');
    width: auto;
    height: 120px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.article_top{
    width: 100%;
    height: 220px;
    vertical-align: bottom;
    text-align: center;
    background-color: rgb(212, 212, 212);
}

/* 지도표시 */
.article_map{
    width: 100%;
    height: 400px;
    margin: 0 auto 10px ;
    background-color: rgb(213, 255, 171);
}

/*우측 하단 병원 정보 */
.info_page{
    width: 40%;
    height: 600px;
    align-items: center;
    padding: 10px;
    overflow-y: hidden;
    display: inline-block;
    background-color: rgb(241, 241, 241);
    
}
.info_imgbox{
    width: 59.3%;
    height: 600px;
    display: inline-block;
    background-color:rgb(241, 241, 241);
}
.info_name{
    height: max-content;
    margin: 50px 0px 20px 20px;
    font-family: GmarketSansMedium;
    font-size: 32px;
    font-weight: 800;
    color: #284C7E;

    
}
.info_text_wrap{
    width: auto;
    height: max-content;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    word-break: break-all;
}
.info_etc{
    width: auto;
    height: auto;
    margin: auto auto auto 5px;
    font-family: GmarketSansMedium;
    font-size: 24px;
    font-weight: lighter;
    word-break: break-all;
}